[submodule "buzzvel-front"]
	path = buzzvel-front
	url = https://github.com/angelomonasterios/buzzvel-front
	branch = main
[submodule "buzzvel"]
	path = buzzvel
	url = https://github.com/angelomonasterios/buzzvel
	branch = main

